<div class="main-container">
  <%= render "shared/sidebar"%>
    <div class="main-content">
     <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h1>Saisons</h1>
            <div class="cards">
              <% @seasons.each do |season| %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560258018-c7db7645254e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80)">
                  <%= link_to season.name, season_path(season) %>
                </div>
              <% end %>
            </div>
            <%= link_to "Ajouter une saison", new_season_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

