<%= render "shared/sidebar"%>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @season.name %></h1>
      <table class="table table-bordered">
<!--        <tbody>
          <tr>
            <th scope="row">Starting Date</th>
            <td><%= @season.beginning_date %></td>
          </tr>
          <tr>
            <th scope="row">Ending Date</th>
            <td><%= @season.ending_date %></td>
          </tr>
        </tbody>
      </table>  -->
    </div>
  </div>
</div>
