// Define variables for your color scheme
$sunset: #f87060;
$blue: #102542;
$caribbean: rgb(0, 196, 154);


// For example:
$red: #FD1015;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$white: #FFFFFF;
$orange: orange;
