<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/3277926/pexels-photo-3277926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=2880);">
  <div class="container">
    <h1>Fashion business made simple</h1>
    <p>Concentrez-vous sur la création de vos collections, nous facilitons leur administration</p>
    <a class="btn btn-green-flash" href="#">Demander une démo</a>
  </div>
</div>
