<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/3277926/pexels-photo-3277926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=2880);">
  <div class="container">
    <h1>Fashion business made simple</h1>
    <p>Concentrez-vous sur la création de vos collections, nous facilitons leur administration</p>
    <% if user_signed_in? && @latest_season %>
      <%= link_to "Accéder au tableau de bord", season_path(@latest_season), class: "dashbord-banner" %>
    <% else %>
      <%= link_to "Demander une démo", "#", class: "btn-green-flash btn-call-to-action" %>
    <% end %>
  </div>
</div>

