<div class="container">
   <div class="row justify-content-center">
  <div class="background-new-machine">
   <div class="row justify-content-center" id="new-machine">
     <div class="col-md-8">
      <h1>Add a new machine</h1>