

<div class="sidenav">
  <div>
    <img src="https://i.ibb.co/936X0by/IMG-8517.jpg" class="logo-sidebar">
  </div>

  <div class="menu">
    <div class="d-flex">
<!--       <h3><i class="fas fa-database"></i></h3> -->
      <h3 class="title-tissu" ><%= link_to "Tissutheque"%></h3>
    </div>
    <div class="element-collection">
      <div class="element-bar d-flex">
        <li><a href="#">Voir la tissutheque</a></li>
      </div>
      <div class="element-bar d-flex">
        <li><a href="#">Ajouter un tissu</a></li>
      </div>
    </div>

    <div class="element-bar d-flex">
<!--       <h3><i class="fas fa-chevron-right"></i></h3> -->
      <h3 class="title-tissu" href="#" data-toggle="collapse" data-target="#collapseOne">Collection</h3>
    </div>
    <div class="element-collection">
      <div class="element-bar d-flex">
<!--         <h4><i class="fas fa-search"></i></h4> -->
        <li><a href="#"><%= link_to "Suivi de collection", seasons_path(@season)%></a></li>
      </div>
      <div class="element-bar d-flex">
<!--         <h4><i class="fas fa-cog"></i></h4> -->
        <li><a href="#">Suivi de production</a></li>
      </div>
      <div class="element-bar d-flex">
<!--         <h4><i class="fas fa-chart-line"></i></h4> -->
        <li><a href="#">Analyses</a></li>
      </div>
    </div>
  </div>

  <div class="footer-sidebar">
    <div class="back-collection">
      <p class="link-season"><%= link_to "Retour aux saisons", seasons_path(@season)%></p>
    </div>
    <div class="profil-parametres">
      <div class="profil-footer">
        <div class="d-flex">
          <img src='https://thumbs.dreamstime.com/z/simple-smiling-emoticon-vector-simple-emoticon-smiley-face-yellow-smiling-emoticon-black-eyes-mouth-vector-illustration-103660510.jpg' class="avatar-large" />
          <div class="name-profil">
            <p><strong>Pierre Paul</strong></p>
          </div>
        </div>
      </div>

      <div class="setting d-flex">
        <p class="icone-setting"><i class="fas fa-cog"></i></p>
        <p class="parametre"><%= link_to "Paramètres" %></p>
      </div>
    </div>
  </div>
</div>





