<%#= f.input :pattern_id, as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'category-selector'},
                    collection: @patterns %>
<fieldset class="form-group radio_buttons required clothe_pattern form-group-valid">
    <legend class="col-form-label pt-0">Modèle du produit <abbr title="required">*</abbr></legend>
    <div class="category-wrapper">
        <input type="hidden" name="clothe[pattern_id]" value="">
        <% @patterns.each do |pattern| %>
            <div class="category-item">
                <input class="form-check-input is-valid radio_buttons required category-selector" type="radio" value="<%= pattern.id %>" name="clothe[pattern_id]" id="clothe_pattern_id_<%= pattern.id %>">
                <label class="form-check-label collection_radio_buttons" for="clothe_pattern_id_<%= pattern.id %>"><%= pattern.name %></label>
            </div>
        <% end %>
    </div>
</fieldset>