<div class="container">
  <div class="form-design">
    <h2>Quelle est la famille du produit à ajouter ?</h2>
    <%= simple_form_for :family, url: new_season_clothe_path(@season), method: :get do |f| %>
    <%= f.input :family,
                as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: @families %>
    <%#= f.submit "Search", class: "btn btn-green-flash" %>
    <% end %>
  </div>
</div>



