.btn-green-flash {
    border-radius: 5px;
    background-color: $persian-green;
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

.btn-light {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.02);
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  &:hover {
      text-decoration: none;
  }
}

.btn-call-to-action {
    padding: 16px 32px;
    font-size: 20px;
    &:hover {
        color: rgba(255,255,255,0.8);
    }
}

.btn-small {
    padding: 8px 16px 8px 16px;
    margin-left: 16px;
    margin-right: 16px;
    border: none;
    &:hover {
        opacity: 0.8;
    }
}


.btn-add-component {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    padding: 8px;
    margin: 16px;
    text-align: center;
    width: 20%;
    cursor: pointer;
    &:hover {
        border: 1px solid $persian-green;
    }
    i {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      margin: 0px;
    }
  }


.dashbord-banner {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  background-color: $persian-green;
  border-radius: 8px;
  color: white;
}

.dashbord-banner:hover {
  color: white;
  background-color: #028c7b;
}






