.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 230px;
  margin: 20px;
  border-radius: 8px;
  h2 {
    width: 60px;
  }
}

.card-trip:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.card-trip {
  h3 {
  font-size: 16px;
  font-weight: bold;
  text-color: $persian-green;
}
}

.card-trip p {
  font-size: 12px;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.card-trip-infos {
  p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #8c8c8c;
  }
  h4 {
    color: $persian-green;
  }
}

.all-card {
  padding: 25px;
  padding-top: 10px;

}


#card-add {
  height: 300px;
}

#text-add {
  text-align: center;
  color: white;
  font-size: 18px;
}



#card-add-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(1, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: $persian-green;
}

#card-add-shadow:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#card-add-shadow > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  filter: opacity(0.4);
}


#card-add-shadow > img:hover {
  filter: opacity(1);
}


.info-card-clothe {
  strong {
    color: $persian-green;
  }
}

.plus-card-icone {
  color: white;
  font-size: 160px;
  text-align: center;
}
